/* @font-face{
	font-family: Montserrat_bold;
	src: url(font/Montserrat-Bold.ttf);
}
@font-face{
	font-family: Montserrat_light;
	src: url(font/Montserrat-Regular.ttf);
} */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.container{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
}
.product{
    display: flex;
    width: auto;
    height: auto;
    margin: 7% auto;
    background-color: white;
    justify-content: flex-start;
    column-gap: 1em;
     border-radius: 10px;
}
.image{
    background-color: brown;
}
.imgBackground{
    background-color: white;
    width: 300px;
    height:  100%;
    background-image: url(images/image-product-desktop.jpg);
    background-size: 300px;
    background-position: center;
    background-repeat: no-repeat;

}
.content{
    padding: 10px 15px;
    width: 300px;
}
.text > p, h5{
    font-family: "Montserrat";
    font-weight: 400;

}
.text .paragraph_1{
    opacity: 0.5;
     margin: 20px auto;
     letter-spacing: 5px;
     font-size: 14px;
}
.text > h1{
    font-family: "Fraunces", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    word-spacing: 0;
    text-overflow: clip;
    overflow: hidden;
    white-space: no-wrap;
    line-height: 1;
    word-wrap: break-word;
}
.text .paragraph_2{
    margin: 20px auto 10px;
    word-wrap: break-word;
    line-height: 20px;
    font-size: 14px;
}
.text .price{
    display: flex;
    align-items: center;
    column-gap: 1em;
    margin-bottom: 10px;
}
.text .price h1{
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

.text button{
    position: relative;
    display: block;
    border-radius: 5px;
    width: 12em;
    height: 3em;
    margin: 5px auto;
    background-color: hsl(158, 36%, 37%);
    color: white;
    text-align: center;
    font-size: 14px;
}
.text .cart img{
    position: absolute;
    margin: 5px;
    width: 20px;
    margin-left: 70px;
    margin-top: 10px;
    z-index: 2;
}
@media screen  and (min-width: 255px) and (max-width: 600px) {
    *{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .product{
        display: flex;
        flex-direction: column;
        width: 350px;
    }
    .image{
    height: auto;
    width: auto;
    }
    .imgBackground{
        width: 100%;
        height: 200px;
        background-image: url(images/image-product-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content{
        margin: 0 auto;
    }
    .text > h1{

    }
    .text .cart button{
        width: 20em;
        margin: 0 auto;
    }
}
